#new-project {
  // @include row;
  & > * {
    // @include column((small: 12));
  }

  nav {
    background-color: $header-bg;
    max-height: 57px;

    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      @include row;

      li {
        @include column((small: 4));
        display: inline-block;
        border-right: 1px solid $splitter-color;
        border-bottom: 3px solid $splitter-color;
        padding: 0.5em 0px;
        text-align: center;
        height: auto;

        &:last-child {
          border-right: none;
        }

        a, span {
          background-color: $subheader-disabled-bg;
          // border: darken($subheader-disabled-bg, 20%) solid 1px;
          border-radius: 20px;
          padding: 2.5px 10px;
          font-size:2em;
          color: $subheader-text-color;
        }
        a {
          text-decoration: none;
        }

        &.active {
          background-color: transparentize($subheader-active-bg, 0.8);
          border-bottom: 3px solid $subheader-active-bg;
          a, span {
            background-color: $subheader-active-bg;
          }
        }
        &.done {
          background-color: transparentize($subheader-success-bg, 0.8);
          border-bottom: 3px solid $subheader-success-bg;
          a, span {
            display: none;
          }
          &:before {
            content: "\f00c";
            background-color: $subheader-success-bg;
            border-radius: 20px;
            padding: 2.5px 10px;

            @extend .fa;
            font-size: 1.7em;
            line-height: 1.5em;

            color: $subheader-text-color;
          }
        }
      }
    }
  }

  .step-1 {
    .session {
      .not-logged {
        // @include row;
        padding: 0px $splitter-margin;

        & > * {
          text-align: center;
          margin: 0px;
          padding: 2.3em 8.33%;

          @include cleanColumn((small: 10, tablet: 6));
          margin-left: auto;
          margin-right: auto;

          .above {
            display: none;
          }

          & > *:first-child {
            margin-top: 0px;
            padding-top: 0px;
          }
          & > *:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }

        .login {
          border-bottom: 1px $splitter-color solid;
        }

        h2 {
          display: none;
        }
      }
    }
  }

  .step {
    height: calc(100% - 57px);
    float: left;
    width: 100%;

    h2, p.help {
      display: none;
    }
    .info {
      position: relative;
      height: 100%;
      width: 80%;
      margin: auto;
      padding-top: 30%;

      .button {
        width: calc(100% - 80px);
      }

      p {
        text-align: center;
      }

      p.main {
        color: $coletive-color;
      }

      & > * {
        margin-bottom: 10px;
        display: block;
      }
    }
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
    form {
      position: relative;
      height: 100%;

      .form-group {
        position: absolute;
        top:0px;
        bottom:72px;
        width: 100%;
      }

      input[type="submit"] {
        position: absolute;
        bottom:5px;
        width: 90%;
        left: 5%;
      }
    }
  }

  .step-2 {
    li {
      display: block;
      width: 100%;
    }
    .radio {
      padding-left: $splitter-margin;
      padding-right: $splitter-margin;
      label {
        display: block;
        width: calc(100% - 65px);
        max-width: calc(100% - 65px);
        border-bottom: 1px solid $splitter-color;
        padding: 1em 15px 1em 50px;

        input[type="radio"] {
          opacity: 0;
        }
        span {
          color: inherit;
          vertical-align: top;
          padding-top: 12px;
          margin-left: -10px;
          display: inline-block;
        }

        &:before {
          content: "\f096";
          padding: 2.5px 10px;
          margin-left: -50px;
          vertical-align: top;

          @extend .fa;
          font-size: 3em;
          line-height: 1em;

          color: $standard-button-bg;
        }
      }

      &.selected {
        background-color: $success-bg;
        color: $success-text-color;
        label {
          span {
            margin-left: -16px;
          }
          &:before {
            content: "\f046";
            color: inherit;
          }
        }
      }
    }
  }

  .step-3 {
    .slick-slider {
      height: calc(100% - 60px);
      width: 60%;
      left: 20%;
      right: 20%;
      .slick-list {
        height: 100%;
        overflow: visible;
        .slick-track {
          height: 100%;
        }
      }
      .slick-dots {
        li {
          margin: 0px;
          max-width: 10px;
          button {
            max-width: 10px;
            &:before {
              max-width: 10px;
            }
          }
        }
      }
    }
    form {
      overflow: hidden;
    }
    .radio {
      padding-left: $splitter-margin;
      padding-right: $splitter-margin;
      height: 100%;

      label {
        display: block;
        width: 100%;
        max-width: 100%;
        height: calc(100% - 50px);
        max-height: 100%;
        margin: 50px 0em 0em 0em;
        text-align: center;

        background-color: $splitter-color;
        border: solid 1px $splitter-color;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        input[type="radio"] {
          opacity: 0;
          display: none;
        }
        span {
          vertical-align: top;
          text-align: left;
          display: block;
          width: 90%;
          padding: 5%;

          color: $black-color;
          background-color: $list-header-bg;
          border: solid 1px $list-header-bg;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          /* To overflow parents border */
          margin-top: -2px;
          margin-left: -1px;
        }
      }

      &.selected {

        label {
          background-color: $success-bg;
          border: solid 1px $success-bg;

          span {
          }
          &:after {
            content: "\f046";
            padding: 2.5px 10px;
            margin-top: 50px;
            vertical-align: top;

            @extend .fa;
            font-size: 3em;
            line-height: 1em;

            color: $success-text-color;
          }
        }
      }
    }
  }
}

@include mq($from: tablet) {
  #new-project {
    margin-top: 20px;
    .step-1 {
      .session {
        .not-logged {
          padding: 2.3em 0px;
          .above {
            display: block;
          }
          .below {
            display: none;
          }
        }
        .logged {
          border-right: solid 1px #000;
        }
      }
    }
  }
}