$main-bg: #fff;
$main-text-color: #000000;

$coletive-color: #00b8a2;
$coletive-inverse-color: #fff;

$header-bg: #fafafa;

$splitter-color: #cccccc;

$standard-button-bg: #cccccc;
$standard-button-color: #fff;